%html

  %head

    %title Try Redis
    %link{"rel" => "stylesheet", "href" => "/style.css"}

  %body

    #header
      %img{"src" => "/images/try-redis-500x50.png", "width" => 500, "height" => 50}

    #log
      .line.notification= tutorial 0

    #toolbar
      %input#input

    #footer
      :markdown
        This page was written by Alex McHale
        ([email](mailto:alexmchale@gmail.com)
         [github](http://github.com/alexmchale)
         [twitter](http://twitter.com/alexmchale))
        and inspired by [Try Mongo](http://try.mongodb.org).

        The source code to Try Redis is available on
        [GitHub](http://github.com/alexmchale/try.redis).

    %script{"type" => "application/x-javascript", "src" => "http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"}
    %script{"type" => "application/x-javascript", "src" => "http://documentcloud.github.com/underscore/underscore-min.js"}
    %script{"type" => "application/x-javascript", "src" => "/javascripts/json2.js"}
    %script{"type" => "application/x-javascript", "src" => "/javascripts/terminal.js"}
